<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scavengerhunt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ScavengerHuntApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewGame"></activity>
        <activity android:name=".IndoorGame"></activity>
        <activity android:name=".SingleItemView"></activity>
         <activity android:name=".CreateGame"></activity>
          <activity android:name=".CreateGame1"></activity>
        <activity android:name=".NewTitleInput"></activity>
          <activity android:name=".ItemList"></activity>
          <activity android:name=".AddItems"></activity>
          <activity android:name=".EditItem"></activity>
          <activity android:name=".NewGameList"></activity>
          <activity android:name=".PlayerList"></activity>
          <activity android:name=".CreateGameMenu"></activity>
          <activity android:name=".SinglePlayerView"></activity>
          <activity android:name=".PlayGameMenu"></activity>
          <activity android:name=".PlayGame"></activity>
           <activity android:name=".SingleGameView"></activity>
           <activity android:name=".PlayAGame"></activity>
           <activity android:name=".ViewMyGames"></activity>
           <activity android:name=".EditExistingGameActivity"></activity>
           <activity android:name=".EditAGameActivity"></activity>
        <!-- Login activity is started when the StartActivity is done with
        Parse.com initialization -->
        <activity android:name="LoginActivity" android:label="Login"></activity>
        <activity android:name="MainMenuActivity" android:label="MainMenu"></activity>
    
    
     <service android:name="com.parse.PushService" />
 
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    
    
    
    </application>




</manifest>